.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;

  @media screen and(max-width: 1440px) {
    column-gap: 80px;
  }

  @media screen and(max-width: 768px) {
    display: none;
  }
}
