@use 'src/colors';

.add-card {
  // min-width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 2px #fdfdfd solid;
  stroke: #fdfdfd;
}

.add-card:hover {
  border-color: colors.$pink-hover;
  stroke: colors.$pink-hover;
}
